.feature-texto{
	margin: 30px;
	padding: 20px;
}

h5{
	color: #1E90FF;
}

h1, h3, h5{
font-family: 'Courgette', cursive;

}

p{
	font-family: 'Courgette', cursive;
}

body{
	background-color: #DAA520;
}

